h1,
div,
p {
  margin: 0px;
  padding: 0px;
  font-family: 'system-ui';
}
a {
  text-decoration: none;
  color: inherit;
}
#github-logo {
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card {
  position: relative;
  display: inline-block;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(100, 96, 117, 0.16),
    0 4px 4px rgba(100, 96, 117, 0.16);
  text-align: center;
  padding: 32px;
  margin: 5px;
  // padding-top: 5px;
  transition: all 0.5s;

  .cover {
    height: 120px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card-img-wrapper {
    position: relative;
    height: 160px;
    width: 160px;
    margin: 10px auto;
    margin-bottom: 20px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }

  .card-title {
    color: #434343;
    margin-bottom: -8px;
    font-size: 25px;
    font-weight: 600;

    &:hover {
      color: blue;
    }
  }

  .card-responsename {
    margin-bottom: 20px;
    color: #797979;
  }

  &:hover {
    color: blue;
  }
}
